<!DOCTYPE html>
<html>
<body>

<h1>Coin Network</h1>

<table border = "1" style="width:20%">
        <tr>
                <td> Price BTC/USD: </td>
                <td> <%= "$" + @amount%> </td>

        </tr>
</table>
<%= @address %>
<p>Coin info coming soon!</p>
</body>
</html>

